<div class="login-page">
    <!-- Lado Esquerdo - Login -->
    <div class="login-left">
      <h2>Bem-vindo!</h2>
  
      <form (ngSubmit)="fazerLogin()">
        <input type="email"[(ngModel)]="loginData.Email" name="email" required placeholder="Digite seu email">
        <input type="password" [(ngModel)]="loginData.Senha" name="senha" required placeholder="Digite sua senha">
        <button type="submit">Entrar</button>
      </form>
  
      <div *ngIf="erro" class="erro">{{ erro }}</div>
    </div>
  
    <!-- Lado Direito - Cadastro -->
    <div class="login-right">
      <h3><strong>Não possui login?</strong></h3>
      <p>Faça seu cadastro</p>
  
      <button routerLink="/cadastro">Criar Conta</button>
    </div>
  </div>