<h1>{{ btnTitulo }}</h1>

<form *ngIf="formularioUsuario" [formGroup]="formularioUsuario" (ngSubmit)="submit()">

  <input type="hidden" formControlName="id">

  <div class="input_box">
    <label for="nome">Nome</label>
    <input id="nome" type="text" formControlName="nome" placeholder="Digite seu nome" required>
  </div>

  <div class="input_box">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" placeholder="Digite seu email" required>
    <div *ngIf="formularioUsuario.get('email')?.invalid && formularioUsuario.get('email')?.touched">
      <small *ngIf="formularioUsuario.get('email')?.hasError('required')">O email é obrigatório.</small>
      <small *ngIf="formularioUsuario.get('email')?.hasError('email')">O email deve ser válido.</small>
      <small *ngIf="formularioUsuario.get('email')?.hasError('emailExistente')">Este e-mail já está em uso.</small>
    </div>
  </div>

  <div class="input_box">
    <label for="tipo">Tipo de Usuário</label>
    <select id="tipo" formControlName="tipo" required>
      <option value="" disabled selected>Selecione o tipo</option>
      <option value="0">Usuário</option>
      <option value="1">Administrador</option>
    </select>
    <div *ngIf="formularioUsuario.get('tipo')?.invalid && formularioUsuario.get('tipo')?.touched">
      <small>O tipo de usuário é obrigatório.</small>
    </div>
  </div>

  <div class="input_box">
    <label for="senha">Senha</label>
    <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha" required>
  </div>

  <div class="input_box">
    <label for="confSenha">Confirme a Senha</label>
    <input id="confSenha" type="password" formControlName="confSenha" placeholder="Confirme sua senha" required>
    <div *ngIf="formularioUsuario.hasError('senhaNaoConfere') && formularioUsuario.get('confSenha')?.touched">
      <small>As senhas não coincidem.</small>
    </div>
  </div>

  <div class="input_box">
    <button type="submit" [disabled]="!formularioUsuario.valid">{{ btnAcao }}</button>
    <!-- <button type="button" routerLink="">Voltar</button> -->
  </div>

</form>
