<!-- Novo usuário -->
<div>
    <button routerLink="/cadastro">Cadastrar novo usuário</button>
    <div class="input-box">
        <label for="">Procurar</label>
        <input type="text" placeholder="Qual registro está buscando?" (input)="search($event)" />
    </div>
</div>

<!-- Tabela de usuários -->
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Ações</th> <!-- Coluna de ações -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.email }}</td>
          <td>
            <div *ngIf="usuario.tipo == 0; else adminTemplate">
              <p>Usuário</p>
            </div>
            <ng-template #adminTemplate>
              <p>Administrador</p>
            </ng-template>
          </td>
          <td>
            <button routerLink="/editar/{{usuario.id}}">Editar</button>
            <button (click)="OpenDialog(usuario.id!)">Excluir</button>
          </td>
        </tr>
      </tbody>
</table>

